<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Results Page</title>
</head>
<body>
    <h1>Welcome To The Results Page </h1>
    <%var number= Object.keys(data).length; %>  
    <%console.log(number)%>
    
    <% if(data != 0){data["Search"].forEach(function(movie){ %>
<li> <%= movie["Title"] %> : <%=movie["Year"]%> </li>
<% })} else{ %> <h5>Data Not Found</h5> <%} %>
<a href="/">Search Again</a>
</body>
</html>